html {
  background-color: #F2E9E4;
  /* font-family: sans-serif; */
  font-family: 'Raleway Variable', sans-serif;
}

html.dark {
  background-color: #141422;
  color: #b4b4c5;

}

html.dark header {
  background-color: #282846;
}

html.dark .project {
  background-color: #4A4E69;
}

.dark .nav-links a {
  color: #9A8C98;
}

.nav-links a {
  color: #141422;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #b4b4c5;
  padding: 5px;
  text-align: center;
  z-index: 1000;  
}

body {
  display: flex;
  flex-direction: column;
  border: 0.5px solid;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 100%;
  min-height: 100vh;
  max-width: 120ch;
  padding-top: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 3rem;
  line-height: 1.5;
  justify-content: center;
    /* Center the content vertically */
    align-items: center;
    /* Center the content horizontally */
}

.info {
  padding-left: 7rem;
    padding-right: 7rem;
}

main {
  flex: 1;
  margin-top: 5rem;
}

* {
  box-sizing: border-box;
}

.github-button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2em auto;
  cursor: pointer;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

.index-page-container {
  display: flex;
  align-items: flex-start;
  /* Align items to the start */
  margin-bottom: 1rem;

}

.project-container {
  margin-top: 2rem;
}

.project-container img {
  max-width: 100%;
  /* Ensure the image doesn't exceed the container width */
  height: auto;
  /* Maintain the aspect ratio of the image */
  display: block;
  margin: 0 auto;
}

.project {
  margin-top: 30px;
  border: 1px solid;
  border-radius: 5px;
  padding: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: #d3d0d2;
  transition: transform 0.3s ease;
}
.project:hover {
  transform: scale(1.01);
}

.link-button {
  font-size: 0.8rem;
  padding: 10px;
  background-color: #C9ADA7;
  color: #22223B;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2em auto;
  cursor: pointer;
}
/* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}

.nav-links {
  width: 100%;
  top: 5rem;
  background-color: #ff9776;
  display:none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #e2c1ba;
}

.expanded {
  display: unset;
}
.profile-img {
  width: 25%;
  margin-right: 5rem;
  border: 1px;
  border-radius: 15px;
}

@media screen and (max-width: 1000px) {
  .index-page-container {
    flex-direction: column;
  }

  .profile-img {
    width: 50%;
    margin-right: 0;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
    .hamburger {
      display: none;
    }
}

@media screen and (max-width: 690px) {
  * {
    box-sizing: content-box;
    /* Reset box-sizing property */
  }
  .link-button {
    font-size: 0.5rem;
  }
  .project {
    margin-top: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

footer {
  justify-content: center;
  align-items: center;
  width:100%;
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
    }
  
