---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";
---
<BaseLayout pageTitle={pageTitle}>
  <p>Software engineer with background in electrical engineer.</p>
  <p>Love for nature and motorcycling</p>
</BaseLayout>
