---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Site info";
---
<BaseLayout pageTitle={pageTitle}>
  <p>
    Here you have an overengineered website built with Astro web framework.
  </p>

</BaseLayout>
