---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Site info";
---
<BaseLayout pageTitle={pageTitle}>
  <p>
    <br>
    What we have here is an overengineered website built with
    <a href="https://astro.build/" target="_blank" style="text-decoration: none; color: rgb(136, 64, 64)">Astro.build </a> web framework.
    Astro's static site generator allowed me to use a component based approach for rendering webpages.
    <br>
    <h3> Tech Stack</h3>
    <p>
      The source code is composed of JSX-like components (HTML, CSS and JavaScript) and markdown files. Astro does the magic behind the scene
      through a process called hydration, transforming these components and markdown files into static HTML at build time.
      It also provides data binding capabilities, allowing to pass data (props) from the JSX components to markdown files and vice versa.
    </p>
    <h3>Continuous Integration and Deployment</h3>
    <p>
      This site's GitHub repo is connected to a hosting service via a CI/CD pipeline. When a change is detected on the repo's master branch,
      GitHub sends a webhook payload to the host provider. This in turn triggers a new build process for the website.
      Once the build process completes successfully, the built assets are deployed to a CDN, then the live version of the website is updated automatically
      with the newly built assets.
    </p>
  </p>
  <a href="https://github.com/diozsa/portfolio" target="_blank" class="github-button">Source Code</a>

</BaseLayout>
