---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle="The Developer"
---
<BaseLayout pageTitle={pageTitle}>
	<p>
		<br>
		Hello, I'm Dan Iozsa, a software engineer based in Phoenix, Arizona.
	</p>
	<p>
		Welcome to my personal space - a slightly overengineered website that I built with <a href="https://astro.build/" target="_blank" style="text-decoration: none; color: rgb(136, 64, 64)">Astro </a>.
		Opting to develop this site myself provided an opportunity to explore a new frontend architecture, enhancing my skills in the process.
	</p>
	<p>
		With a background in Electrical Engineering, my journey has been marked by a consistent passion for coding.
		I'm a technology enthusiast with a curious and detail-oriented mind. I find joy in the process of writing code, debugging, and continuously challenging myself to learn and grow.
		Software development, for me, is the art of transforming ideas into functional products that bring value to end-users.
	</p>
	<p>
		Beyond the world of programming, I embrace the open road on my motorcycle, embarking on journeys across the US with my wife.
		Whether it's camping in the wild, cooking near the tent, exploring new trails and capturing the beauty of nature through my camera, 
		these adventures are my ideal way of unwinding and finding inspiration. What else? Birdwatching, running, playing bass, PC gaming.
	</p>

</BaseLayout>

