---
import BaseLayout from '../layouts/BaseLayout.astro';
import Social from "../components/Social.astro";

const allProjects = await Astro.glob('../pages/projects/*.md');
const pageTitle = "Code  Vault";
---
<BaseLayout pageTitle={pageTitle}>
  <p>
    Explore my deployed projects - a collection of applications crafted for both utility and enjoyment.
    These are not just creations; They're tools that I regularly utilize. Feel free to experiment with them and delve into the code on GitHub.
  </p>
  <ul>
      {allProjects.map((proj) => <h2>
                                    {proj.frontmatter.title}
                                    <a href={proj.url}>
                                      <img src={proj.frontmatter.image.url} alt="Weather App Logo">
                                    </a>
                                 </h2>)
                                }
      
      <!--
        <li><a href="/projects/weather/">Weather App</a></li>
        <li><a href="/projects/space/">NASA SpaceEx App</a></li>
      -->
  </ul>
</BaseLayout>

