---
import Social from "./Social.astro";
---

<footer>
  <Social platform="github" username="diozsa" />
  <Social platform="linkedIn" username="/in/diozsa" />
  <div>&copy; <span id="copyrightYear"></span> Dan Iozsa. All rights reserved.</div>
</footer>

<script>
  // Get current year and update the copyright year in the footer
  document.getElementById('copyrightYear').innerText = new Date().getFullYear().toString();
</script>
