---
const { platform, username } = Astro.props;
---

<style>
  a {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: white;
    background-color: #522e88;
    text-decoration: none;
  }
</style>

  <p>
    <a href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a>
  </p>